<%- partial('../sign/sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>微信登录</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>

      敬请期待...

      <!--<form id='signin_form' class='form-horizontal' action='/signin' method='post'>-->
        <!--<div class='control-group'>-->

          <!--<div>-->
            <!--<%= url %>-->
            <!--<br>-->
            <!--<a href="<%= url %>">qr code</a>-->
          <!--</div>-->
          <!--<div class="center">-->
            <!--<iframe src="<%= url %>"></iframe>-->
          <!--</div>-->

        <!--</div>-->
      <!--</form>-->

    </div>
  </div>
</div>
